WindowsFormsApplication2/WindowsFormsApplication2/Web References/server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50736/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50736/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50736/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ListOfCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfCustomers" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidCustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValidCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="IService1_registerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValid" />
  </wsdl:message>
  <wsdl:message name="IService1_IsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_make_transaction_InputMessage">
    <wsdl:part name="parameters" element="tns:make_transaction" />
  </wsdl:message>
  <wsdl:message name="IService1_make_transaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:make_transactionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TransactionViaAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionViaAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_TransactionViaAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionViaAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transactionsviaPin_InputMessage">
    <wsdl:part name="parameters" element="tns:transactionsviaPin" />
  </wsdl:message>
  <wsdl:message name="IService1_transactionsviaPin_OutputMessage">
    <wsdl:part name="parameters" element="tns:transactionsviaPinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transactionsviaAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:transactionsviaAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_transactionsviaAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:transactionsviaAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_recieve_money_via_pin_InputMessage">
    <wsdl:part name="parameters" element="tns:recieve_money_via_pin" />
  </wsdl:message>
  <wsdl:message name="IService1_recieve_money_via_pin_OutputMessage">
    <wsdl:part name="parameters" element="tns:recieve_money_via_pinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ListOfCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfCustomers" message="tns:IService1_ListOfCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfCustomersResponse" message="tns:IService1_ListOfCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValidCustomer" message="tns:IService1_IsValidCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidCustomerResponse" message="tns:IService1_IsValidCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerUser" message="tns:IService1_registerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerUserResponse" message="tns:IService1_registerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsValid" message="tns:IService1_IsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsValidResponse" message="tns:IService1_IsValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="make_transaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/make_transaction" message="tns:IService1_make_transaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/make_transactionResponse" message="tns:IService1_make_transaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionViaAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TransactionViaAccount" message="tns:IService1_TransactionViaAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TransactionViaAccountResponse" message="tns:IService1_TransactionViaAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transactionsviaPin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transactionsviaPin" message="tns:IService1_transactionsviaPin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transactionsviaPinResponse" message="tns:IService1_transactionsviaPin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transactionsviaAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transactionsviaAccount" message="tns:IService1_transactionsviaAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transactionsviaAccountResponse" message="tns:IService1_transactionsviaAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recieve_money_via_pin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/recieve_money_via_pin" message="tns:IService1_recieve_money_via_pin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/recieve_money_via_pinResponse" message="tns:IService1_recieve_money_via_pin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListOfCustomers">
      <soap:operation soapAction="http://tempuri.org/IService1/ListOfCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidCustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValidCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/IService1/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IService1/IsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="make_transaction">
      <soap:operation soapAction="http://tempuri.org/IService1/make_transaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionViaAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/TransactionViaAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transactionsviaPin">
      <soap:operation soapAction="http://tempuri.org/IService1/transactionsviaPin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transactionsviaAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/transactionsviaAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recieve_money_via_pin">
      <soap:operation soapAction="http://tempuri.org/IService1/recieve_money_via_pin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50736/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>