WindowsFormsApplication2/WindowsFormsApplication2/Web References/server/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="loans" nillable="true" type="tns:ArrayOfLoan" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Account">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfLoan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Loan" nillable="true" type="tns:Loan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoan" nillable="true" type="tns:ArrayOfLoan" />
  <xs:complexType name="Loan">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Loan" nillable="true" type="tns:Loan" />
  <xs:complexType name="ArrayOfTransaction_Via_Pin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction_Via_Pin" nillable="true" type="tns:Transaction_Via_Pin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction_Via_Pin" nillable="true" type="tns:ArrayOfTransaction_Via_Pin" />
  <xs:complexType name="Transaction_Via_Pin">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Transaction_Via_Pin" nillable="true" type="tns:Transaction_Via_Pin" />
  <xs:complexType name="ArrayOfTransaction_via_Account">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction_via_Account" nillable="true" type="tns:Transaction_via_Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction_via_Account" nillable="true" type="tns:ArrayOfTransaction_via_Account" />
  <xs:complexType name="Transaction_via_Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creditor_Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Debitor_Account" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction_via_Account" nillable="true" type="tns:Transaction_via_Account" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>